<%- include("header") -%>
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background: rgb(238, 174, 202);
        background: radial-gradient(
          circle,
          rgba(238, 174, 202, 1) 0%,
          rgba(148, 187, 233, 1) 100%
        );
      }
    </style>
    <script>
      localStorage.setItem("sessionKey", '<%= authCode %>')
    </script>
  </head>
  <body class="formBody">
    <div class="admindash">
        <div class="mgtop"></div>
        <div class="mgtop"></div>
      <h1>Welcome to Admin Panel</h1>
      <img
        class="mb-4"
        src="images/logo.png"
        alt="logo"
        width="250"
        height="250"
      />

      <form method="post" action="/admindashboard">
        <input type="hidden" name="authCode" value="<%= authCode %>" />
        <button
          type="submit"
          name="admin"
          value="addEvents"
          class="bt btn-grad"
        >
          ADD EVENTS
        </button>
        <button
          type="submit"
          name="admin"
          value="pointsUpdate"
          class="bt btn-grad"
        >
          UPDATE POINTS
        </button>
        <button
          type="submit"
          name="admin"
          value="changeEventsStatus"
          class="bt btn-grad"
        >
          CHANGE EVENTS STATUS
        </button>
        <button
          type="submit"
          name="admin"
          value="deleteEvents"
          class="bt btn-grad"
        >
          Delete Events
        </button>
        <button
          type="submit"
          name="admin"
          value="addLedger"
          class="bt btn-grad"
        >
          Add on Public Ledger
        </button>
        <button
          type="submit"
          name="admin"
          value="deleteLedger"
          class="bt btn-grad"
        >
          Delete on Public Ledger
        </button>
      </form>
    </div>
    <%- include("footer") -%>