    <!-- Footer -->

    <footer id="footer" style="padding: 1.2vw;">
            <p style="padding:4px">Contact Us</p>
        <a href="https://www.facebook.com/avirbhav.jk" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/avirbhav_/" target="_blank" style="color: #cd486b;"><i
                class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/jk_avirbhav" target="_blank" style="color: #00acee;"><i
                class="fab fa-twitter"></i></a>
        <p style="padding:4px"><a href="https://github.com/MrSagarBiswas/avirbhav23" target="_blank">©</a> AVIRBHAV 2023</p><a href="/organizer#developers">Our Developers</a>
    </footer>
    <!-- AOS  -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>