<%- include("header") -%>

<title>About Us</title>

<section class="section-team">
  <div class="container">
    <!-- Start Header Section -->
    <br />
    <br />
    <h1 class="m-auto">Let's meet our Organizers🎉</h1>

    <br />
    <p>
      Fourth Year Students of JK Institute organize this Annual fest every year
      for their juniors.
    </p>
    <br />
  </div>
</section>
<section class="section-team">
  <div class="container">
    <!-- / End Header Section -->
    <div class="row">
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/kaushal_kishore.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Kaushal Kishore</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/kumar_mangalam.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Kumar Mangalam</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/nipun_jain.jpg" alt="" />
            <span class="icon"> <i class="fa-light fa-circle-user"></i> </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Nipun Jain</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/pranav_mishra.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Pranav Mishra</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
    </div>
  </div>
</section>
<section class="section-team">
  <div class="container">
    <div class="row">
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/pratyush_mishra.png" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Pratyush Mishra</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/sachin_shakya.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Sachin Shakya</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/prem_narayan.png" alt="" />
            <span class="icon"> <i class="fa-light fa-circle-user"></i> </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Prem Narayan</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/adarsh_saxena.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Adarsh Saxena</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
    </div>
  </div>
</section>
<section class="section-team">
  <div class="container">
    <div class="row">
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/pawan_raj.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Pawan Raj</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/hare_krishna_rai.jpg" alt="" />
            <span class="icon">
              <i class="fa-light fa-circle-user"></i>
            </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Hare Krishan Rai</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/aman_singh.jpeg" alt="" />
            <span class="icon"> <i class="fa-light fa-circle-user"></i> </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Aman Singh</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="single-person">
          <div class="person-image">
            <img src="faces/shobhit_kumar.jpeg" alt="" />
            <span class="icon"> <i class="fa-light fa-circle-user"></i> </span>
          </div>
          <div class="person-info">
            <h3 class="full-name">Shobhit Kumar</h3>
          </div>
        </div>
      </div>
      <!-- / End Single Person -->
      
    </div>
  </div>
</section>

<section class="section-team" id="developers">
  <h1 class="m-auto">...</h1>
  <h1 class="m-auto">Our Developers</h1>
  <h3 class="m-auto">(Team Nandiastra)</h3>
  <div class="mgtop"></div>
  <div class="container">
    <!-- Start Header Section -->

    <!-- / End Header Section -->
    <div class="row">
      <!-- Start Single Person -->
      <div class="col-sm-6 col-lg-4 col-xl-3 marginAuto">
        <a href="https://www.linkedin.com/in/mrsagarbiswas/" target="_blank">
          <div class="single-person">
            <div class="person-image">
              <img src="faces/sagarbiswas.jpg" alt="" />
              <span class="icon">
                <i class="fa-light fa-circle-user"></i>
              </span>
            </div>
            <div class="person-info">
              <h3 class="full-name">Sagar Biswas</h3>
              <span class="speciality"><b>MERN Developer</b></span>
            </div>
          </div>
        </a>
      </div>
      <!-- / End Single Person -->
    </div>
  </div>
</section>

<%- include("footer") -%>
