<%- include("header") -%>

<title>Our Sponsors</title>

<div
  id="sponsors"
  style="
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 20px;
  "
>
  <h1 class="mt-4">Our Sponsors</h1>
  <div class="slider mt-3">
    <div class="slide-track row">
      <div class="slide col-md-4 col-sm-12 mt-5">
        <a href="https://www.gateacademy.co.in" target="_blank"
          ><img src="sponsors/gateacademy.png" width="200" alt=""
        /></a>
      </div>
      <div class="slide col-md-4 col-sm-12 mt-5">
        <a href="https://gbbmi.abs@gmail.com" target="_blank"
          ><img
            src="sponsors/school.jpeg"
            style="margin: 20px"
            width="110"
            alt=""
        /></a>
      </div>
      <div class="slide col-2 col-md-4 col-sm-12 mt-5">
        <a href="tel:+919450803610"
          ><img
            src="sponsors/Endeavour.jpeg"
            style="margin: 50px; margin-left: 80px"
            width="250"
            alt=""
        /></a>
      </div>
      <div class="slide col-md-4 col-sm-12 mt-3" style="vertical-align: center">
        <a href="tel:+919453604209"
          ><img src="sponsors/purvanchal.png" width="250" alt=""
        /></a>
      </div>
      <div class="slide col-md-4 col-sm-12 mt-3" style="vertical-align: center">
        <a href="tel:+919450710617"
          ><img src="sponsors/tirupati.png" width="260" alt=""
        /></a>
      </div>
      <div class="slide col-md-4 col-sm-12 mt-3">
        <a href="https://surgeclasses.com/" target="_blank"
          ><img
            src="sponsors/surgeclasses.jpeg"
            style="margin: 50px"
            width="300"
            alt=""
        /></a>
      </div>
    </div>
  </div>

  <div
    class="card sponsorCard my-5 bg-primary text-white"
    style="border-radius: 10px; max-width: 1000px; width: 98%; margin: auto"
  >
    <h1 class="card-header">Gate Academy</h1>
    <div
      class="card-body"
      style="
        max-width: 96%;
        align-items: center;
        align-content: center;
        margin: auto;
      "
    >
      <h5 class="card-text" style="text-align: justify">
        GATE ACADEMY has been established with the goal of imparting technical
        education to the students, keeping in view the global technological
        developments and to meet the requirements of the Engineers and transform
        them into professionals of distinguishable standards. Initiating
        programmes & continously enhancing the quality of the students. Our aim
        is to create an entrepreneurial attitude, spirit and result-oriented
        motivation among budding engineers. The mission of GATE ACADEMY will be
        to provide every opportunity for each students to attain the best of
        their capabilities & create in them the desire to excel. Promoting
        convergence of knowledge, Information, Technology & Skills.<br /><br />
        <b>Website: </b
        ><a
          href="https://www.gateacademy.co.in"
          target="_blank"
          class="text-white"
        >
          https://www.gateacademy.co.in</a
        >
      </h5>
    </div>
  </div>
  <div
    class="card sponsorCard my-5 bg-warning text-white"
    style="border-radius: 10px; max-width: 1000px; width: 98%; margin: auto"
  >
    <h1 class="card-header">Aletheia Banjara School</h1>
    <div
      class="card-body"
      style="
        max-width: 96%;
        align-items: center;
        align-content: center;
        margin: auto;
      "
    >
      <h5 class="card-text" style="text-align: justify">
        GBBMI partners directly with GBBM-India to support Aletheia Banjara
        School. Aletheia is accredited by the Indian government and currently
        educates almost 480 Banjara students in classes ranging from Pre-Primary
        School to 10th grade. Aletheia Banjara School is the best local
        educational school for Banjara students. In addition, students are
        taught by Christian teachers who model Christ’s love and who teach
        Christian principles. Aletheia Banjara School is funded by generous
        donors around the globe who follow God’s leading in providing
        scholarships for students. <br /><br />
        For more information on the scholarship program please contact Marcia
        Whitehorn (GBBMI Director of Scholarships) at
        <a href="https://gbbmi.abs@gmail.com" target="_blank" class="text-white"
          >gbbmi.abs@gmail.com</a
        >
      </h5>
    </div>
  </div>
  <div
    class="card sponsorCard my-5 bg-danger text-white"
    style="border-radius: 10px; max-width: 1000px; width: 98%; margin: auto"
  >
    <h1 class="card-header">Endeavour</h1>
    <div
      class="card-body"
      style="
        max-width: 96%;
        align-items: center;
        align-content: center;
        margin: auto;
      "
    >
      <h5 class="card-text" style="text-align: justify">
        Prayagraj Best Institute for TET/C-TET/S-TET with the best experienced
        faculty and supportive team in the path to your success journey. New
        batch will be commencing soon.<br /><br />
        <b>Address:</b> 573, Mumfordganj, Nigam Chauraha, Prayagraj<br />
        <b>Contact Us: </b
        ><a href="tel:+919450803610" class="text-white">9450803610</a>
      </h5>
    </div>
  </div>
  <div
    class="card sponsorCard my-5 bg-primary text-white"
    style="border-radius: 10px; max-width: 1000px; width: 98%; margin: auto"
  >
    <h1 class="card-header">Purvanchal Academy</h1>
    <div
      class="card-body"
      style="
        max-width: 96%;
        align-items: center;
        align-content: center;
        margin: auto;
      "
    >
      <h5 class="card-text" style="text-align: justify">
        Foundation led by Mahendra Sir. The teacher with the most selection in
        TGT/PGT. The classes are commenced both in English/Hindi. Special test
        series based on exams TGT/PGT for the improvisation of students and help
        them improve and achieve great success.<br /><br />
        <b>Contact Us: </b
        ><a href="tel:+919453604209" class="text-white">9453604209</a>
      </h5>
    </div>
  </div>
  <div
    class="card sponsorCard my-5 bg-warning text-white"
    style="border-radius: 10px; max-width: 1000px; width: 98%; margin: auto"
  >
    <h1 class="card-header">Tirupati Classes</h1>
    <div
      class="card-body"
      style="
        max-width: 96%;
        align-items: center;
        align-content: center;
        margin: auto;
      "
    >
      <h5 class="card-text" style="text-align: justify">
        Renowned institute for preperation of Lekhpal/TGT/PGT/SSC/BANK RLY. Best
        & Expeienced Faculty.<br /><br />
        <b>Address:</b>Mumfordganj,Prayagraj <b>Contact Us: </b
        ><a href="tel:+919450710617" class="text-white">9450710617</a>
      </h5>
    </div>
  </div>
  <div
    class="card sponsorCard my-5 bg-danger text-white"
    style="border-radius: 10px; max-width: 1000px; width: 98%; margin: auto"
  >
    <h1 class="card-header">Surge Classes</h1>
    <div
      class="card-body"
      style="
        max-width: 96%;
        align-items: center;
        align-content: center;
        margin: auto;
      "
    >
      <h5 class="card-text" style="text-align: justify">
        Surge Classes is an Ed-tech startup with a vision of creating quality
        talent pool in emerging technologies specifically focussiong o n Product
        Based Companies and Unicorn Startups. We Offer and intensive six-month
        Master Programmes in emerging technologies like Data Science and MERN
        Fullstack through live classes delivered by tech leaders and subject
        matter experts.<br /><br />

        <b>Website: </b
        ><a href="https://surgeclasses.com/" target="_blank" class="text-white">
          https://surgeclasses.com</a
        >
      </h5>
    </div>
  </div>
</div>

<%- include("footer") -%>
